/* Write your CSS here */
.app-container {
  font-family: Roboto;
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.name-container {
  font-family: Roboto;
  height: 200px;
  width: 100%;
  border-radius: 8px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
  margin-bottom: 20px;
}

.name-header {
  font-family: Roboto;
  font-size: 40px;
  color: #475569;
  font-weight: bold;
}

.name-para {
  font-size: 25px;
  color: #475569;
  font-weight: 600;
}

.element {
  color: #0b69ff;
  font-weight: 600;
}

.money-container {
  height: 200px;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.transaction-container {
  color: #7e858e;
  width: 400px;
  margin-left: 50px;
  height: 500px;
  width: 1700px;
  display: flex;
  flex-direction: row;
}

.transaction-input {
  height: 430px;
  width: 450px;
  padding: 25px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 95px;
  border-color: #cbd5e1;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.input-title {
  font-family: Roboto;
  font-weight: 500;
  color: #cbd5e1;
  margin-bottom: 15px;
}

.input {
  height: 35px;
  width: 380px;
  font-family: Roboto;
  color: #1e293b;
  margin-bottom: 15px;
}

.inputs {
  height: 35px;
  width: 380px;
  font-family: Roboto;
  margin-bottom: 25px;
  color: #1e293b;
}

.add-button {
  color: #ffffff;
  background-color: #0b69ff;
  height: 35px;
  width: 90px;
  outline: none;
  border-radius: 8px;
  border-color: #0b69ff;
  border-style: solid;
}

.transaction-history {
  min-height: 430px;
  height: auto;
  width: 600px;
  padding: 25px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 95px;
  border-color: #cbd5e1;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.transaction-type-container {
  height: 40px;
  width: 520px;
  border-color: #cbd5e1;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transaction-type-header {
  width: 20%;
  font-size: 20px;
  color: #1e293b;
  font-family: Roboto;
  font-weight: bold;
}

.transaction-type-headers {
  width: 20%;
  font-size: 20px;
  color: #1e293b;
  font-family: Roboto;
  font-weight: bold;
  margin-left: 60px;
}
